# Ignore Kaggle API credentials
echo "kaggle.json" >> .gitignore
echo "/home/codespace/.kaggle/kaggle.json" >> .gitignore

# Ignore all files in the UNSW-NB15 dataset directory except README.md
echo "Data/UNSW-NB15/*" >> .gitignore
echo "!Data/UNSW-NB15/README.md" >> .gitignore

# Ignore all CIC-IDS2017 CSV files and the zip file
echo "Data/CIC-IDS2017/*.csv" >> .gitignore
echo "Data/CIC-IDS2017.zip" >> .gitignore
